*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background-color: #ffffff;
}
.navigation {
  width: 100vw;
  height: 120px;
  background-color: #7e76f0;
  padding: 20px;
  display: flex;
}
.navigation > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation > *:not(:last-child) {
  margin-right: 100px;
}
.navigation_logo {
  background-color: #07578d;
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.navigation_name {
  background-color: #094eb4;
  width: 50vw;
  height: 80px;
}
.menu {
  width: 100vw;
  height: 80px;
  background-color: #73c43d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.menu_link {
  display: flex;
}
.menu_link_item {
  list-style: none;
  text-transform: uppercase;
}
.menu_link_item a {
  text-decoration: none;
  color: inherit;
}
.menu_link_item:not(:last-child) {
  margin-right: 30px;
}
.paragraph {
  color: rgb(75, 39, 64);
  width: 100vw;
  height: 400px;
  display: flex;
}

.paragraph_item {
  background-color: #883c84;
  flex-basis: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  text-transform: uppercase;
  border-radius: 10px;
}

.headlines {
  display: flex;
  padding: 10px;
  background-color: #9b501f;
  height: 80px;
}
.headlines_item {
  background-color: #6b303f;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.headlines_item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  padding-top: 10px;
  background-color: #9b735c;
}
.footer_links {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  list-style: none;
  text-transform: uppercase;
}
.footer_links_item:not(:last-child) {
    background-color: #0d4444;
  margin-right: 40px;
}

.footer_links_item a {
    background-color: #0d4444;
  text-decoration: none;
  color: inherit;
}