@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #9fe4e0;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: rgb(100, 122, 122);
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Satisfy', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: rgb(217, 241, 151);
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../img/background.jpeg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:rgb(251 123 219);
    text-align: center;
    font-family: 'Sacramento', cursive;
}

#home p{
    color:rgb(68, 172, 128);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Satisfy', cursive;
}
/* Services Section */

#services{
    margin: 34px;
    display: flex;
}
#services::before{
    content: "";
    position: absolute;
    background: url('../img/Background3.png');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
   }
#services .box{ 
    border: 2px solid rgb(134, 83, 216);
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f89393;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../img/background2.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/Background1.jpg') no-repeat center center/cover;

}
#contact-map{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height:300px;
    float:left;

    
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}



/* Form CSS*/
.ccform {
   margin: 0 auto;
    width: 800px;
}
.ccfield-prepend{
	margin-bottom:10px;
	width:100%;
}

.ccform-addon{
	color:#f8ae45; 
	float:left;
	padding:8px;
	width:8%;
	background:#FFFFFF;
	text-align:center;	
}

.ccformfield {
	color:#000000; 
	background:#FFFFFF;
	border:none;
	padding:15.5px;
	width:91.9%;
	display:block;
	font-family: 'Lato',Arial,sans-serif;
	font-size:14px;
}

.ccformfield {
	font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
	display:block;
	border:none;
	background:#f8ae45;
	color:#FFFFFF;
	padding:12px 25px;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
}
.ccbtn:hover{
	background:#d8850e;

}
.credit {
  color:#fff;
  width: 800px;
  clear:both;
margin:0 auto;
  line-height:25px;
 padding: 25px 50px; 
}
.credit em{
margin-right:5px;
}
.credit a {
color: #0d2ed5;
font-weight: bold;
text-decoration: none;
}
.footer{
    background: rgb(209, 73, 73);
    color: rgb(207, 126, 126);
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    border: 2px solid #d2bdff;
    height: 80px;
    width: 200px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    margin: 25px;
  
    &::after {
      content: "HOVER ME";
      position: absolute;
      top: 41%;
      left: 50%;
      transform: translate(-50%);
      color: #d2bdff;
      transition: all 0.1s linear;
    }
  
    &::before {
      content: "";
      position: relative;
      display: block;
      height: 15px;
      width: 15px;
      background: #d2bdff;
      box-shadow: 0px 0px 10px 3px #0ff;
      margin-left: -8px;
      margin-top: -8px;
      opacity: 0;
      transition: all 0.1s linear;
      border-radius: 100%;
      animation: star 1.3s linear infinite;
    }
  
    @keyframes star {
      0% {
        margin-left: -8px;
        margin-top: -8px;
      }
      25% {
        margin-left: 194px;
        margin-top: -8px;
      }
  
      50% {
        margin-left: 194px;
        margin-top: 75px;
      }
      75% {
        margin-left: -8px;
        margin-top: 75px;
      }
      100% {
        margin-left: -8px;
        margin-top: -8px;
      }
    }
  
    &:hover {
      &::before {
        opacity: 1;
        animation: star 1.3s linear infinite;
      }
  
      &::after {
        content: "I'M GLOWING";
        text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc,
          0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc;
      }
    }
}
  

.center{
    text-align: center;
}
